{% extends "master.html" %}

{% block title %} - Overview{% endblock %}

{% block body %}

<div class="container main">
    <div class="current-jobs section">
        <h1>Jobs in Progress</h1>

        {% for job_name in g.job_names %}
        <h2>{{ job_name }}</h2>
        {% endfor %}
    </div>

    <div class="workers section">
        <h1>Workers</h1>

        <div class="filters">
            <ul>
                <li><a href="#" data-filter="all">all</a></li>
                {% for job_name in g.job_names %}
                <li><a href="#" data-filter="{{ job_name }}">{{ job_name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <table class="workers-table table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="worker-name">Name</th>
                    <th class="working">Working on</th>
                </tr>
            </thead>
            <tbody>
                {% for worker, status in g.workers.iteritems() %}
                <tr>
                    <td>{{ worker }}</td>
                    {% if status %}
                    <td>Processing job {{ status['job_id'] }}</td>
                    {% else %}
                    <td>Waiting for a new job...</td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td class="no-workers" colspan="2">No workers registered so far...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
