{% extends "master.html" %}

{% block title %} - Overview{% endblock %}

{% block body %}
<div class="container main">
    <div class="current-jobs section">
        <h1>Jobs in Progress</h1>

        {% for job_name in g.job_names %}
        <h2>{{ job_name }}</h2>
        {% endfor %}
    </div>
</div>
{% endblock %}
