<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ParameterServer{% block title %}{% endblock %}</title>
    {%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8">
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <a href="/" alt="overview"><h1>Parameter Server System</h1></a>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/" alt="overview">overview</a></li>
                        <li><a href="/jobs" alt="job types">jobs</a></li>
                        <li><a href="/workers" alt="workers">workers</a></li>
                        <li><a href="/stats" alt="stats">stats</a></li>
                    </ul>
                </nav>
                <aside>
                <p>PyParameterServer Service status: <span class="running">{{ g.server['Pyparameterserver_service_status'] }}</span> :: active workers: <span class="active-workers">{{ g.workers|count }}</span> :: available jobs: <span class="active-job-types">{{ g.jobs|count }}</span></p>
                </aside>

            </div>
            
            <div class="title">
                <sologan>Py Parameter Servers </sologan>
            </div>
        </div>
    </header>
    <div class="body">
    {% block body %}
    {% endblock %}
    </div>

    <footer>
        <div class="cell">
            <a href="http://se.inf.tu-dresden.de" alt="Parameter Servers System">powered by ParameterServer {{ g.server['Pyparameterserver_version'] }}</a>
        </div>
    </footer>

    {% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/progress.js') }}" charset="utf-8"></script>
    {% endblock %}
</body>
</html>
